# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Testing & Logs
.pytest_cache/
*.log
*.tmp
